<section class="Skills py-5 d-lg-flex justify-content-center align-items-center" id="Skills">
    <div class="container">
        <div class="row">
           <div class=" col-lg-8 col-12 ">
            <div class="title justify-content-center">
                <h2> those are my skills:</h2>
            </div>
            <h3>HTML</h3> 
            <div class="progress">
                <div class="progress-bar" role="progressbar"  style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">   80%</div>
            </div>
            <h3>CSS/SCSS</h3>
            <div class="progress mt-3">
                <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"> 70%</div>
            </div>
            <h3>Angular</h3>
            <div class="progress mt-3">
                <div class="progress-bar" role="progressbar"  style="width: 55%"aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"> 55%</div>
            </div>
            <H3>JS/NestJS/NodeJS</H3>
            <div class="progress mt-3">
                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">  50%</div>
            </div>
            <h3>SQL/Postgres</h3>
            <div class="progress mt-3">
                <div class="progress-bar" role="progressbar"  style="width: 35%"aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">  35%</div>
            </div>
            </div>
        </div>
     </div>
</section>


