<section class="project py-5" id="certificates">
    <div class="container">
            
            <div class="row">
              <div class="col-lg-11 text-center mx-auto col-12">
  
                  <div class="col-lg-8 mx-auto">
                    <h2>Those are my certificates</h2>
                  </div>
  
                  <div class="owl-carousel owl-theme">
                    
                    <div class="item ml-5">
                      <div class="project-info">
                        <img src="../../assets/images/cert-CT-BMNVBNWL.jpg" class="img-fluid" alt="project image">
                      </div>
                    </div>
  
                    <div class="item">
                      <div class="project-info">
                        <img src="../../assets/images/certificates.jpg" class="img-fluid" alt="project image">
                      </div>
                    </div>
                  </div>
  
              </div>
            </div>
    </div>
  </section>