<section class="resume py-5 d-lg-flex justify-content-center align-items-center" id="resume">
    <div class="container">
        <div class="row">


            <div class="col-lg-6 col-12">
                <h2 class="mb-4">Experiences</h2>

                <div class="timeline">
                    <div class="timeline-wrapper">
                        <div class="timeline-yr">
                            <span>2021</span>
                        </div>
                        <div class="timeline-info">
                            <h3><span>primary teacher</span><small>primary School</small></h3>
                            <p>After graduating from the field of education, I worked as a French language teacher for
                                two years in a primary school</p>
                        </div>

                    </div>

                </div>


                <div class="timeline-wrapper:before">
                    <div class="timeline-yr">
                        <span>2020</span>
                    </div>
                    <div class="timeline-info">
                        <h3><span>intership</span><small>primary School</small></h3>
                        <p>before graduating, i do my intership for a month in the primary school Route Gabes- Medenine
                        </p>
                    </div>

                </div>

            </div>



            <div class="col-lg-6 col-12">
                <h2 class="mb-4 mobile-mt-2">Education</h2>

                <div class="timeline">
                    <div class="timeline-wrapper">
                        <div class="timeline-yr">
                            <span>2022</span>
                        </div>
                        <div class="timeline-info">
                            <h3><span> Self-education</span><small>
                                    HTML/CSS</small></h3>
                            <p>I tried to learn some skils about web development so i began by learned some basics of
                                HTML and CSS.
                                I got 2 css and html certificates from <b>sololearn.</b></p>
                        </div>
                    </div>

                    <div class="timeline-wrapper">
                        <div class="timeline-yr">
                            <span>2021</span>
                        </div>
                        <div class="timeline-info">
                            <h3><span>higher education</span><small> teaching</small></h3>
                            <p>
                                I obtained a license in education and teaching from the Institute of Languages ​ of
                                Gabes- tunisia.</p>
                        </div>
                    </div>

                    <div >
                        <div class="timeline-yr">
                            <span>2018</span>
                        </div>
                        <div class="timeline-info">
                            <h3><span>secondry education</span><small>Baccalaureate experimental sciences</small></h3>
                            <p>I obtained a baccalaureate degree from the secondry school of medenine- tunisia. </p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>